@import "reset.css";

@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('./fonts/nunito-v24-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./fonts/nunito-v24-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  div,
  p,
  span {
    font-family: Nunito, "Nunito", sans-serif !important;
    font-size: 16px;
  }

// html,
// body,
// #root {
//   height: 100%;
//   background: blue !important;
// }
html {
    box-sizing: border-box;
}
* {
    box-sizing: inherit;
}

button,
input {
  border: none;
  outline: none;
  box-shadow: none;
  border-radius: 0;
  color: inherit;
  line-height: normal;
  overflow: visible;
  background-color: transparent;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
